* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  list-style: none;
}

#cabecalho {
  width: 100%;
  height: 80px;
  color: white;
  background-color: #02a28f;
}

#h1_cabecalho {
  padding: 10px;
}

#imagem_banner {
  width: 150%;
  height: auto;

}

#principal {
  display: flex;
  margin-top: 20px;
}

#posts_populares {
  margin-left: 22%;
  margin-top: 8px;
  width: 30%;
  height: 50px;
  background-color: #02a28f;
  color: white;
  border-radius: 5px;
  justify-content: space-between;
}

#h2_posts {
  font-size: 25px;
  text-align: left;
  padding-top: 8px;
  padding-left: 30px;
}

/* Posts Polulares div 1*/
#post_1 {
  width: 100%;
  height: 160px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 40px;
}

#imagems_1 {
  margin-top: -60px;
  width: 65%;
  margin-left: -110px;
  padding-top: 60px;
}


#p1 {
  color: #616161;
  font-size: 17px;
  text-align: left;
  margin-left: 210px;
}

#li1 {
  margin-top: -100px;
  text-align: left;
  margin-left: 210px;
  color: black;
  font-size: 18px;
}

/* Posts Polulares div 2*/

#post_2 {
  width: 100%;
  height: 160px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 20px;
}


#imagems_2 {
  margin-top: -60px;
  width: 65%;
  margin-left: -110px;
  padding-top: 60px;
}

#p2 {
  color: #616161;
  font-size: 17px;
  text-align: left;
  margin-left: 210px;
}

#li2 {
  margin-top: -100px;
  text-align: left;
  margin-left: 210px;
  color: black;
  font-size: 18px;
}

/* Posts Polulares div 3*/
#post_3 {
  width: 100%;
  height: 160px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 75px;
}

#imagems_3 {
  margin-top: -60px;
  width: 65%;
  margin-left: -110px;
  padding-top: 60px;
}

#p3 {
  color: #616161;
  font-size: 17px;
  text-align: left;
  margin-left: 210px;
}

#li3 {
  margin-top: -100px;
  text-align: left;
  margin-left: 210px;
  color: black;
  font-size: 18px;
}

/* Posts Recentes*/
/*#posts_recentes {}*/

#h2_posts_recentes {
  font-size: 25px;
  margin-left: 25px;
  margin-top: -10px;
  background-color: #02a28f;
  width: 58%;
  height: 50px;
  color: white;
  border-radius: 5px;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 20px;
}

#ver_todos {
  font-size: 20px;
  color: white;
  text-decoration: underline;
  margin-left: 54%;
  color: white;
  margin-top: -40px;
}

#img_recentes_1 {
  margin-top: 50px;
  margin-left: -10px;
}

#img_recentes_2 {
  margin-top: -640px;
  margin-left: 580px;
}

#img_recentes_3 {
  margin-top: -20px;
  margin-left: -10px;
}

#img_recentes_4 {
  margin-top: -640px;
  margin-left: 580px;
}

#categorias {
  margin-left: 810px;
  margin-top: -1370px;
}

#h2_categorias {
  background-color: #02a28f;
  color: white;
  height: 50px;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 25px;
  width: 52%;
  margin-bottom: 10px;
  margin-left: 35%;

}

#lista,
li {
  list-style: none;
  margin-bottom: 5px;
  margin-left: 20%;
  font-size: 22px;
}

.numeros {
  padding-left: 550px;
  margin-top: -20px;
}

/* rodapé */
#rodape {
  width: 100%;
  height: 40px;
  background-color: #02a28f;
  color: white;
  text-align: center;
  padding-top: 5px;
  margin-top: 1400px;
  font-size: 25px;
}

/*Media query */

@media (min-width:720px) {
  #imagem_banner_mobile {
    display: none;
  }

  #img_recentes_1_media {
    display: none;
  }

  #img_recentes_2_media {
    display: none;
  }

  #img_recentes_3_media {
    display: none;
  }

  #img_recentes_4_media {
    display: none;
  }

}

@media (max-width:720px) {

  * {
    flex-direction: column;
    align-items: center;
  }

  #cabecalho {
    width: 100%;
    height: 80px;
    color: white;
    background-color: #02a28f;
    text-align: center;
  }

  /* Principal */
  #imagem_banner {
    display: none;
  }

  #img_recentes_1 {
    display: none;
  }

  #img_recentes_2 {
    display: none;
  }

  #img_recentes_3 {
    display: none;
  }

  #img_recentes_4 {
    display: none;
  }

  #principal {
    margin-top: 20px;
  }

  #imagem_banner_mobile {
    width: 660px;
    display: block;
  }


  /* posts recentes */
  #h2_posts_recentes {
    font-size: 25px;
    margin-left: 22px;
    margin-top: -40px;
    background-color: #02a28f;
    width: 92%;
    height: 50px;
    color: white;
    border-radius: 5px;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
  }

  #ver_todos {
    font-size: 20px;
    color: white;
    text-decoration: underline;
    margin-bottom: 500px;
    margin-left: 550px;
  }

  #img_recentes_1_media {
    margin-top: -450px;
    margin-left: 0px;
  }

  #img_recentes_2 {
    margin-top: -20px;
    margin-left: 0px;
  }

  #img_recentes_3 {
    margin-top: -20px;
    margin-left: 0px;
  }

  #img_recentes_4 {
    margin-top: -20px;
    margin-left: 0px;
  }

  /* posts populares*/
  #posts_populares {
    margin-left: 0;
    width: 95%;
    height: 50px;
    background-color: #02a28f;
    color: white;
    border-radius: 5px;
    position: absolute;
    margin-top: 3800px;
  }

  #h2_posts {
    font-size: 25px;
    text-align: left;
    padding-top: 8px;
    padding-left: 20px;
  }

  /* Posts Polulares div 1*/
  #post_1 {
    width: 100%;
    height: 190px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 20px;
  }


  #p1 {
    color: #616161;
    font-size: 20px;
    text-align: left;
    margin-left: 250px;

  }

  #li1 {
    margin-top: -110px;
    text-align: left;
    margin-left: 250px;
    color: black;
    font-size: 20px;
  }

  /* Posts Polulares div 2*/

  #post_2 {
    width: 100%;
    height: 190px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 10px;
  }


  #p2 {
    color: #616161;
    font-size: 20px;
    text-align: left;
    margin-left: 250px;
  }

  #li2 {
    margin-top: -110px;
    text-align: left;
    margin-left: 250px;
    color: black;
    font-size: 20px;
  }

  /* Posts Polulares div 3*/
  #post_3 {
    width: 100%;
    height: 190px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 100px;
  }

  #p3 {
    color: #616161;
    font-size: 20px;
    text-align: left;
    margin-left: 250px;
  }

  #li3 {
    margin-top: -100px;
    text-align: left;
    margin-left: 250px;
    color: black;
    font-size: 20px;

  }

  #categorias {
    margin-left: -330px;
    margin-top: 600px;
  }

  #h2_categorias {
    background-color: #02a28f;
    color: white;
    height: 50px;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 25px;
    width: 62%;
    margin-bottom: 10px;
    margin-left: 35%;
    margin-top: 700px;

  }

  #lista,
  li {
    list-style: none;
    margin-bottom: 5px;
    font-size: 22px;
  }

  .numeros {
    padding-left: 550px;
    margin-top: -20px;
  }

  /* rodapé */
  #rodape {
    width: 100%;
    height: 40px;
    background-color: #02a28f;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-top: 100px;
    font-size: 25px;
  }
}